$background: #fff;

body {
  background: $background;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 20px;
}
