select {
  padding: 16px 8px 16px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d7dae9;
  color: #181820;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  // background: url("https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png");
  background: transparent
    url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.19793%208.3196C4.93272%208.05444%204.93272%207.62453%205.19793%207.35937C5.46313%207.09422%205.89312%207.09422%206.15832%207.35937L9.9999%2011.2003L13.8415%207.35937C14.1067%207.09422%2014.5367%207.09422%2014.8019%207.35937C15.0671%207.62453%2015.0671%208.05444%2014.8019%208.3196L10.4801%2012.6406C10.2149%2012.9058%209.78491%2012.9058%209.51971%2012.6406L5.19793%208.3196Z%22%20fill%3D%22%230A1551%22%20stroke%3D%22%230A1551%22%20stroke-width%3D%220.5%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 10px center;
}

// <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.19793 8.3196C4.93272 8.05444 4.93272 7.62453 5.19793 7.35937C5.46313 7.09422 5.89312 7.09422 6.15832 7.35937L9.9999 11.2003L13.8415 7.35937C14.1067 7.09421 14.5367 7.09421 14.8019 7.35937C15.0671 7.62453 15.0671 8.05444 14.8019 8.3196L10.4801 12.6406C10.2149 12.9058 9.78491 12.9058 9.51971 12.6406L5.19793 8.3196Z' fill='#0A1551' stroke='#0A1551' stroke-width='0.5'/></svg>
